<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quiz {{ difficulty }}</title>
    </head>
    <body>
        {% for q in quiz %}
        <div class="question-block">
            <p><strong>Q{{ loop.index }}: {{ q.question }}</strong></p>
            {% for key, option in q.options.items() %}
                <label>
                    <input type="radio" name="q{{ loop.index }}" value="{{ key }}">
                    {{ key }}. {{ option }}
                </label><br>
                {% endfor %}
        </div>
        <hr>
        {% endfor %}
    </body>
</html>